<html>
<head>
  <title>pipeline-ms-log</title>
</head>
<body>
<ul>
  <li><a href="/log">log</a></li>
  <li><a href="/test">test</a></li>
  <li><a href="/hello">hello/{name}</a></li>
</ul>
</body>
</html>